<li>
    <%= comment.comment %>
    <% if(locals.user && locals.user.id == comment.user.id) { %>
        <a href="/comments/destroy/<%= comment.id %>"><button>X</button></a>
    <% } %><br>
    <small>
        <%= comment.user.name %>
    </small>
</li>